mixin prelude(post)
    if post.property.highlight
        link(rel="stylesheet",href="https://unpkg.com/@highlightjs/cdn-assets@11.9.0/styles/default.min.css")
        script(src="https://unpkg.com/@highlightjs/cdn-assets@11.9.0/highlight.min.js")
        if post.property['highlight-languages']
            each v in post.property['highlight-languages'].split(" ")
                script(src="https://unpkg.com/@highlightjs/cdn-assets@11.9.0/languages/"+v+"min.js")
    link(rel="stylesheet",href=file("files/post-fix.css"))
    if theme.enableAdmonitionCSS
         link(rel="stylesheet",href=file("files/admon-extra.min.css"))

mixin meta(post)
    link(rel="icon",href=file("files/icon.svg"))
    meta(charset="utf-8")
    meta(name="viewport",content="width:device-width,initial-scale=1.0")
    meta(name="author",content=user.name)
    meta(name="description",content=post.foreword)
    meta(name="keywords",content=post.keywords.join(" "))
    meta(http-equiv="content-language",content=settings.language)

mixin PageLabel(fo)
    .PageLabel.uWcon
        -//if fo
        -//    h1!= fo
        -//else
        -//    .h1!= post.title
        br
        b.meta
            date= new Date(post.fuzzyDate.toString()).toLocaleDateString(settings.language,{dateStyle:'full'})
            span= post.category
            span= post.wordCount+i18n('Characters')