- declareComponent('Neo/PostCard',['CSS'])

mixin PostCard(item)
    .Neo.PostCard
        .contentBox
            header.title
                a.smooth-navigated(href=file(item.path.website))
                    h2= item.title
            .meta
                .meta-content
                    .pubDate.iconed
                        i.icon!= plugin.getSvg('fa-calendar')
                        date= item.fuzzyDate.toString('-')
                    .category.iconed
                        i.icon!= plugin.getSvg('fa-book')
                        a.smooth-navigated(href=file('/tag/s'+item.category[0]+'/1/'))= item.category[0]
                            each val in item.category.slice(1)
                                .hr
                                a.smooth-navigated(href=file('/tag/s'+val+'/1/'))= val
                    .tag.iconed
                        i.icon!= plugin.getSvg('fa-tag')
                        a.smooth-navigated(href=file('/tag/s'+item.tags[0]+'/1/'))= item.tags[0]
                        each val in item.tags.slice(1)
                            .hr
                            a.smooth-navigated(href=file('/tag/s'+val+'/1/'))= val
            .foreword!= item.foreword
            .length
                - let evlTime = Math.ceil(item.wordCount/250)
                .wordCount= item.wordCount+' '+i18n('Characters')
                .hr
                .evlTime= evlTime+' '+i18n(evlTime==1?'Minute':'Minutes')
        a.smooth-navigated.readMore(href=file(item.path.website),class=item.property['head-image-url']&&'image')
            .cover
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" fill="currentColor"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>
            .button
                if item.property['head-image-url']
                    img(src=item.property['head-image-url'])