- declareComponent('Neo/Widgets/UserIntro',['CSS_ACROSS'])

mixin Widget-UserIntro(user)
    .Neo.UserIntro.NeoWidget
        if user.avatar
            img.avatar(loading='lazy',src=user.avatar)
        h2.userName
            a(href=user.url)= user.name
        .intro= user.data.intro || user.data.announcement
        .socialLinks
            each val,key in user.data.socialLinks
                a.link(href=val.url,title=key)
                    i(class=val['fa-icon'])
            a.link(href=file('feed.xml'),title='RSS Feed')!= plugin.getSvg('kde-rss')
            