include /mixins/script.pug
doctype html
html
    head 
        +meta(user.note,user.keyword||'')
        +useComponent('Neo/Basic')
        +useComponent('Neo/Footer')
        +useComponent('Neo/NavigationBar')
        +useComponent('Neo/SearchComp')
        +useComponent('Neo/Widgets/UserIntro')
        +useComponent('Neo/Widgets/CateList')
        +useComponent('Neo/Widgets/TagList')
        title= __title__(i18n('Status'),user.name)
    body(OCP='OVERRIDE')
        +NavigationBar
        main.uWcon.withSide.no-anim
            .sideCon
                +Widget-UserIntro(user)
                +Widget-CateList
                +Widget-TagList
            .mainCon#NEO_REPLACE
                .statusCon.NeoWidget
                    h1= i18n('Status')
                    +Counter
                    h2= i18n('All categories')
                    .cSortCon
                        each i in site.used_categories
                            +SingleSort(site.categories[i],'category')
                    h2= i18n('All tags')
                    h2= i18n('Local information')
                    small= i18n('@STAT_PRO_WARN')
                    section
                        each v,k in CONSTANTS
                            p= k+' = '+v
                    section
                        each v,k in db.modules.versions
                            p= k+' = '+v
        +Footer